.flex-conteiner{ 
    box-sizing: border-box; 
    /* Usado para deixar o tamanho da box de acordo com a borda*/ 

    padding: 50px; 
    /* Usado para definir a borda dentro do container*/ 

    background-color: rgb(255, 0, 0); 
    /* Define a cor do conteiner*/ 

    color: rgb(255, 255, 255); 
    /* Define a cor da letra*/ 

    min-height: 96vh; 
    /*Define o tamanho do conteiner*/

    display: flex;
    /* Usado para chamar a biblioteca flex*/ 

    flex-wrap: wrap; 
    /* Usado para a quebra de linhas dos itens conforme a tela diminui*/ 

    gap: 10px; 
    /*Usado para definir o espaço entre os itens*/ 

    flex-direction: column;
    /*Configura os itens em coluna*/

    justify-content: flex-end;
    /*Alinha o item para o final da página no sentido vertical*/

    align-items: flex-start;
    /*Alinha o item para o começo da página no sentido horizontal*/

} .flex-item{ 
    background-color: rgb(38, 92, 6); 
    /*Usado para definir a cor do item*/ 

    flex-basis: 250px; 
    /*Usado para definir o tamanho da base de cada item, ou seja, o tamanho da largura*/ 
}