.flex-conteiner{ 
    box-sizing: border-box; 
    /* Usado para deixar o tamanho da box de acordo com a borda*/ 

    padding: 50px; 
    /* Usado para definir a borda dentro do container*/ 

    background-color: rgb(255, 0, 0); 
    /* Define a cor do conteiner*/ 
    color: rgb(255, 255, 255); /* Define a cor da letra*/ 

    min-height: 97vh; 
    /*Define o tamanho do conteiner*/

    display: flex;
    /* Usado para chamar a biblioteca flex*/ 

    flex-wrap: wrap; 
    /* Usado para a quebra de linhas dos itens conforme a tela diminui*/ 

    row-gap: 5px; 
    /*Usado para definir o espaço entre as linhas do itens*/ 

    flex-direction: column-reverse;
    /*Deixa os itens em colunas mas com a ordem trocada*/

    justify-content: center;
    /*Centraliza os itens dentro do conteiner de forma vertical*/

    align-items: flex-end;
    /*Alinha o item para o final da página no sentido horizontal*/



} .flex-item{ 
    height: 10px;
    /*Define a altura de um item*/

    background-color: rgb(38, 92, 6); 
    /*Usado para definir a cor do item*/ 
    
    flex-basis: 50px; 
    /*Usado para definir o tamanho da base de cada item, ou seja, o tamanho da largura*/ 
}

.item1{
    flex-grow: 1;
    /*Faz o item ocupar mais espaço no conteiner em ralação aos outros itens*/
}