.menu1{
 display: flex;
 background-color: blue;
}

.menu2{
    display: flex;
    background-color: cornflowerblue;
}

.menu3{
    display: flex;
    background-color: chocolate;
}

.menu4{
    display: flex;
    background-color: aqua;
    flex-basis: 600px;
    justify-content: end;
}

.menu5{
    display: flex;
    background-color: blueviolet;
    flex-basis: 300px;
}


.home{
    display: flex;
}

.headerFake{
    background-color: rgb(236, 3, 3);
    color: black;
    font-family: 'PlayfairDisplay', Times, serif;
    font-weight: normal;
    z-index: 10;

    display: flex;
    box-sizing: border-box;
    padding: 10px;
    min-width: 100vh;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
    
}