.menu1{
 display: flex;
 justify-content: center;
}

.menu2{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.menu3{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.menu4{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

.menu5{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: blueviolet;
    justify-content: flex-end;
    column-gap: 0px;
}


.home{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.headerFake{
    background-color: rgb(236, 3, 3);
    color: black;
    font-family: 'PlayfairDisplay', Times, serif;
    font-weight: normal;
    z-index: 10;
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    min-width: 100vh;
    flex-wrap: wrap;
    gap: 20px;
}